<!-- <a [routerLink]="['/']" class="btn btn-primary">Home</a>
<a [routerLink]="['/login']" class="btn btn-success">Login</a>
<a [routerLink]="['/registration']" class="btn btn-success">Registration</a>
<a [routerLink]="['/orderlist']" class="btn btn-success">Order List</a>
<a [routerLink]="['/updateprofile']" class="btn btn-success">Update Profile</a> -->

<div class="container-fluid">
    <div class="row" style="padding-top: 6px;">
        <div class="col-md-6" >
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-3" >
                        <img src="assets/Logo.jpeg" style="height: 40px;" class="logo">
                    </div>            
                    <div class="col-sm-1">
                        <button mat-icon-button>
                        <mat-icon color="primary" class="location" >location_on</mat-icon>
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <p style="padding-top: 6%;">Select Location</p>   
                    </div>
                    <div class="col-sm-5">
                        <form class="d-flex align-items-center">
                            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form>
                    </div>
                </div>         
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <button mat-icon-button>
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <button mat-icon-button>
                            <mat-icon
                            aria-hidden="false"
                            aria-label="login icon"
                            fontIcon="login"
                            [ariaSetSize]="50"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="background-color: rgb(36, 159, 36);font-size: medium;text-align: center;">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <a [routerLink]="['/']">Back to Home</a>
        </div>
        <div class="col-md-1 " style="background-color: orange;padding-bottom: 5px;">
            <a [routerLink]="['/']">Promos</a>
        </div>
    </div>
</div>