<div class="container" style="height: 70vh;">
    <div class="row" style="margin-bottom: 5%;">

    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <h1 style="font-weight: bold;">Lets get started</h1>
            <p>Create account to see our top picks for you!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form>
                <label class="label">Mobile</label>
                <input class="form-control" type="text" placeholder="Enter Mobile">
                <br>
                <label class="label">Password</label>
                <input class="form-control" type="text" placeholder="Enter Password">
                <br>
                <label class="label">Confirmation Password</label>
                <input class="form-control" type="text" placeholder="Enter Confirmation Password">
                <br>
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label mx-3">I Agree with terms and conditions</label>
                <br>
                <button class="btn btn-primary my-3" style="background-color: rgb(54, 173, 54);border-color: rgb(54, 173, 54); width: 100%;">Create Account</button>
            </form>
        </div>
    </div>
</div>
