<div class="container" style="height: 73vh;">
    <div class="row" style="margin-bottom: 5%;">

    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <h1 style="font-weight:500;">Welcome Back</h1>
            <p>Sign in to continue</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form>
                <label class="label">Mobile</label>
                <input class="form-control" type="text" placeholder="Enter Mobile">
                <br>
                <label class="label">Password</label>
                <input class="form-control" type="text" placeholder="Enter Password">
                <button class="btn btn-primary my-3" style="background-color: rgb(54, 173, 54);border-color: rgb(54, 173, 54); width: 100%;">Create Account</button>
            </form>
        </div>
    </div>
</div>
